{{#ember-dragula config=model.dragulaoptions dragulaEvent='dragulaEvent' }}
	{{#ember-dragula-container}}
		{{#tree-component tagName="li" data='We ll move these items'}}
			hallo
		{{/tree-component}}
		<li>
			We ll move these items
		</li>
		<li>
			To test if everything is fine.
		</li>
		<li>
			We ll move these items
		</li>
		<li>
			<strong>Another Group</strong>
			{{#ember-dragula-container tagName="ul" created='created' parent=model.parent}}
				<li>
					We ll move these items
				</li>
				<li>
					To test if everything is fine.
				</li>
				<li>
					We ll move these items
				</li>
				<li>
					To test if everything is fine.
				</li>
			{{/ember-dragula-container}}
		</li>
	{{/ember-dragula-container}}
{{/ember-dragula}}
